/*------------------------------ */
/* 
    This is basic example of float.
    
 */
/*---------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 800px;
    height: 900px;
    background-color: pink;
    margin: 0 auto;
}

#header{
    width: 800px;
    height: 200px;
    background-color:red;
}

#main{
    width: 600px;
    height: 600px;
    background-color: teal;
    float: left;
}

#side{
    width: 200px;
    height: 600px;
    background-color: yellow;
    float: right;
}

#footer {
    width: 800px;
    height: 100px;
    background-color:blue;
    /* clear: both; */
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}