* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    text-rendering: optimizeLegibility;
}
.container {
    width: 100%;
    height: auto;
    border: 1px solid gray;
}
header, footer {
    background-color: #000;
    padding: 1em;
    text-align: center;
    color: white;
}

nav {
    float: left;
    padding: 1em;
    max-width: 160px;
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a{
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

