/*
Color Codes : 
    #465DAD;
    #5D9AC7;
    #667DC2;
    #7E8FB1;
    #2E387D;
    #896BF3; done
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
body {
    background: #465DAD;
}

/* ------------------------------ */
/* HEADER SECTION */
/* ------------------------------ */

hr {
    margin-top: 12px;
}

hr.style-six {
    padding: 0;
    border: none;
    height: 1px;
    background: #ccc;
}

header i {
    font-size: 24px;
    color: #ccc;
}

header{
    display: flex;
}

.container{
    width: 98%;
    margin: 10px auto;
}

.col-1 {
    flex: 0.2;
}
.col-2 {
    flex: 1;
}
.col-3 {
    flex: 15;
}
.col-4 {
    /* flex: 1; */
    /* border: 1px solid red; */
}
.col-5 {
    flex: 0.1;
    
}
.col-6 {
    /* flex: 1; */
    
}

/* Nav */
nav {
    background-color: #896BF3;
    border-radius: 5px;
    /* float: right; */
    margin-top: -3%;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    padding: 10px 12px;
}

.tip {
    float: right;
    display: none;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 54px;
    z-index: 20000;
}

.tip > i {
    color: red;
    display: inline-flex;
    justify-content: flex-end;
    width: 96%;
}

/* Mouse over tool tip */
div.col-4:hover .tip {
    display: flex;
}

div > header > div.col-4 > i {
    display: flex;
    justify-content: flex-end;
}

/* ------------------------------ */
/*  Main content SECTION */
/* ------------------------------ */

.content {
    height: 800px; 
    border: 1px solid red;
    display: flex;
}
.content aside {
    flex: 1;
    border: 1px solid red;
}
.content .main-content {
    flex: 5;
    border: 1px solid red;
}

/** Events**/
.events {
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    border: 1px solid;
  }
  
  .flex-item {
    background: rgba(155, 194, 223, 0.2);
    padding: 5px;
    width: 33%;
    height: 290px;
    margin: 8px;
    color: white;
  }
  section > div > ul > li:nth-child(1) > h2 {
      text-transform: uppercase;
      font-size: 15px;
      color: #ccc;
  }

  .line::after {
    content: "";
    border: 2px solid #896BF3;
    display: block;
    width: 15%;
    margin: 2px;
  }