* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Global  */
.container{
    background-color: #ccc;
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

p {
    margin-top: 10px;
}


#header{
    background-color: red;
    height: auto;
    padding: 20px;
}

#nav {
    background-color: yellow;
    /* height: 50px; */ 
    padding: 20px;
}

#content{
    background-color: teal;
    width: 60%;
    float: left;
    padding: 30px;
}

#sidebar{
    background-color: thistle;
    width: 40%;
    float: left;
    padding: 30px;
}

#footer {
    background-color: greenyellow;
    margin-top: 10px;
    padding: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}