/*
- Newsletter button color code: #51CCA8;
- green: #51CCAB
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
}
h1 {
    margin: 0;
}

/* ------------------------------ */
/* HEADER SECTION */
/* ------------------------------ */
header {
    background-image: url(../img/banner-bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;  
    color: #fff;
    display: flex;
    padding: 15px;
}
nav {
    margin-left: auto;
}
.conatiner {
    display: flex;
    border: 1px solid red;
}
.col-1 {
    flex: 1;
}
.col-2 {
    flex:1.2;
    background-color: #51B9CC;
    display: flex;
}
.col-1 img {
    max-width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;    
}
.text {
    color: #fff;
    margin: auto;
    margin-right: 30%;
}
.background {
    display: flex;
    width: 100%;
    height: 500px;
}
.foreground {
    flex:1;
    margin-left: -92%;
    color: #000;
    border: 1px solid black;
    max-width: 52%;
    padding: 70px;
    background-color: #fff;
    height: 250px;
    align-self: center;
}